/* Fonts */
@font-face { font-family: 'SFProDisplayBold'; src: url('../font/sfprodisplaybold.ttf'); }
@font-face { font-family: 'SFProDisplaySemiBold'; src: url('../font/sfprodisplaysemibold.ttf'); }
@font-face { font-family: 'SFProTextBold';  src: url('../font/sfprotextbold.ttf'); }
@font-face { font-family: 'SFUIDisplayBold'; src: url('../font/sfuidisplaybold.otf'); }
@font-face { font-family: 'SFUIDisplaySemiBold'; src: url('../font/sfuidisplaysemibold.otf'); }


/* Style */
body { background: #151518; color: #fff; }
button { cursor: pointer; border: none; }
button:active, select:active { outline: none; border: none; }
button:focus, select:focus { outline: 0; }
* { box-sizing: border-box; }


#banner {
  font-family: 'SFProDisplayBold', Arial, Helvetica, sans-serif;
  background: url('../image/bg-banner.jpg');
  padding-bottom: 10%;
  background-size: cover;
}

#banner nav {
  float: right;
}

#banner nav a {
  padding: 0 30px;
  color: rgba(255,255,255,0.4);
  font-family: 'SFProDisplaySemiBold', Arial, Helvetica, sans-serif;
}

#banner nav a.active {
  color: #fff;
}

.tab-list li a {
  margin-top: 10px;
}

.menu-mobile, [data-menu="button"] {
  display: none;
}

#banner nav a.active::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: red;
  position: relative;
  left: 18px;
  top: 10px;
}

#banner nav a:hover {
  color: #fff;
}

.icons-top i {
  padding: 0 20px;
}

.notification::after {
  content: "";
  width: 8px;
  height: 8px;
  background: #db1623;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 20px;
  left: 89px;
}

.notification:hover {
  cursor: pointer;
}

.notification:hover::after {
  content: "Assista um Filme";
  padding-top: 10px;
  padding-left: 35px;
  display: block;
  width: 200px;
  height: 200px;
  background: #000;
  position: absolute;
  top: 35px;
  left: 10px;
  border-radius: 5px;
}

.header::after {
  content: "";
  display: block;
  margin-top: 20px;
  width: 100%;
  height: 2px;
  background: rgba(255,255,255,0.11);
}


/* MOVIE DESCRIPTION FEATURED */
.infos-featured-movie {
  font-family: 'SFProDisplaySemiBold', Arial, Helvetica, sans-serif;
}

.infos-featured-movie p:nth-child(2) strong, .infos-featured-movie p:nth-child(2) i {
  font-size: 1.5em;
}

.infos-featured-movie p:nth-child(2) strong {
  margin-right: 30px;
}

.infos-featured-movie i {
  color: #ffb400;
}

.infos-featured-movie p strong {
  color: #fff;
}

.infos-featured-movie p {
  color: rgba(255,255,255,0.5);
}

.infos-featured-movie h1 {
  font-size: 3em;
  font-family: 'SFProDisplayBold', Arial, Helvetica, sans-serif;
}

.infos-featured-movie p:nth-child(4) {
  color: #fff;
  font-size: 1.125em;
  line-height: 25px;
}

.infos-featured-movie button {
  width: 177px;
  height: 55px;
  border-radius: 75px;
  background: #db1623;
  color: #fff;
  box-shadow: -6px 10px 89px 16px rgba(219, 22, 35, 0.55);
  text-transform: uppercase;
}

.infos-featured-movie button i {
  color: #fff;
  margin-right: 15px;
}

.infos-featured-movie button:nth-child(6) {
  background: #000;
  box-shadow: none;
  margin-left: 40px;
}




/* MOVIE CATEGORIES */
.movie-categories {
  font-family: 'SFProDisplayBold', Arial, Helvetica, sans-serif;  
}

.movie-categories::before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: #28282f;
  position: relative;
  top: 100px;
}

.movie-categories p, .movie-categories i {
  color: #66666f;
}

.movie-categories p {
  margin-top: 8px;
}

.movie-categories h2 img {
  margin-right: 10px;
}

.movie-categories h2::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: red;
  position: relative;
  left: 135.5px;
  top: 10px;
}

.movies-before h2::after {
  left: 89.5px !important;
}

.select-categories {
  display: none;
}


/* SECTION MOVIES TRENDS */
.movie-trends button {
  width: 177px;
  height: 45px;
  border-radius: 75px;
  background: rgba(102,102,111,0.1);
  color: #fff;
  margin: 0 20px;
}

/* style input select */
.movie-trends select {
  cursor: pointer;
  background: url('../image/arrow.png') no-repeat #28282f;  /* seta */
  border: none;
  border-radius: 75px;
  background-position: 135px center; 
  width: 177px;
  height: 45px; 
  font-family: 'SFProDisplaySemiBold', Arial, Helvetica, sans-serif;  
  font-size: 18px;
  padding: 9px 20px 13px 12px; 
  color: #fff;
  margin: 0 20px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none !important;
}

.movie-trends select::-ms-expand {
  display: none;
}

.movie-trends select option {
  background: rgba(102,102,111,0.1);
  color: #fff;
}

/* style input range */
.range i {
  color: #ffb400;
}

.range i, .range span {
  position: relative;
  top: -9px;
}

input[type="range"] {
  height: 28px;
  width: 70%;
  -webkit-appearance: none;
  outline: none;
  border: 0;
  padding: 0 8px;
  margin: 8px 0;
  background: none;
}

/* Chrome and Opera */
input[type="range"]::-webkit-slider-runnable-track {
  background: #28282f;
  height: 5px;
  border-radius: 4px;
  transition: 0.3s;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #fff;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-top: -10px;
  cursor: pointer;
  transition: 0.3s;
}

input[type="range"]:hover::-webkit-slider-thumb,
input[type="range"]:focus::-webkit-slider-thumb {
  background: #ffb400;
}

/* Firefox */
input[type="range"]::-moz-focus-outer {
  border: 0;
}

input[type="range"]::-moz-range-track {
  background: #28282f;
  height: 5px;
  border-radius: 4px;
  transition: 0.3s;
}

input[type="range"]::-moz-range-thumb {
  background: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]:hover::-moz-range-thumb,
input[type="range"]:focus::-moz-range-thumb {
  background: #ffb400;
}

input[type="range"]::-moz-range-progress {
  background: #ffb400;
  border-radius: 4px;
  height: 4px;
}

input[type="range"]:hover::-moz-range-progress,
input[type="range"]:focus::-moz-range-progress {
  background: #ffb400;
}

/* Edge and IE */
input[type="range"]::-ms-track {
  background: #28282f;
  height: 5px;
  border-radius: 4px;
  border: none;
  color: transparent;
}

input[type="range"]::-ms-thumb {
  background: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  margin: 0 4px 0;
}

input[type="range"]:hover::-ms-thumb,
input[type="range"]:focus::-ms-thumb {
  background: #ffb400;
  border: none;
}

input[type="range"]::-ms-tooltip {
  display: none;
}

input[type="range"]::-ms-fill-lower {
  background: #ffb400;
  border-radius: 4px;
}

input[type="range"]:hover::-ms-fill-lower,
input[type="range"]:focus::-ms-fill-lower {
  background: #ffb400;
}

.movie-trends button:hover, .movie-trends button.active {
  background: #db1623;
}

/* cards movies */
.cards-movie-trends {
  font-family: 'SFProDisplayBold', Arial, Helvetica, sans-serif;
}

.cards-movie-trends img {
  border-radius: 10px;
}

.cards-movie-trends h3 {
  font-family: 'SFUIDisplayBold', Arial, Helvetica, sans-serif;
  font-size: 1.125em;
  margin-top: 20px;
}

.card-info-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-date, .card-interaction {
  color: #66666f;
}

.card-interaction i.fa-heart {
  margin-right: 10px;
}

.card-interaction i.visualized, .card-interaction i.liked {
  color: #db1623;
}

.card-note, .card-note i {
  color: #ffb400;
}

.card-note i {
  margin-right: 5px;
}


/* MOVIE TRAILER */
.movie-trailer {
  width: 91.5%;
  border-radius: 25px;
  padding: 200px 0;
  background: url('../image/jurassic-world-banner.jpg') no-repeat center;
  background-size: cover;
  box-shadow: 0px 0px 89px 15px rgba(11, 11, 11, 0.86);
}

.movie-trailer span {
  display: block;
}

.movie-trailer p:nth-child(5) {
  color: #fff;
}

.movie-trailer button:nth-child(6) {
  margin: 0;
  background: #db1623;
  box-shadow: -6px 10px 89px 16px rgba(219, 22, 35, 0.55);
}

.movie-trailer button:nth-child(7) {
  background: #000;
  box-shadow: none;
  margin-left: 40px;
}

.movie-trailer nav li {
  padding: 0 10px;
}


.footer a {
  font-family: 'SFProDisplayBold', Arial, Helvetica, sans-serif;
  text-decoration: none;
  background: #1d1d21;
  width: 45px;
  height: 45px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  color: #fff;
  padding-top: 10px;
}


/* JAVASCRIPT */
/* Modal Movie Trailer */
.movie-list-container {
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 500;
}

.movie-list-container.active {
  display: flex;
}

.movie-list {
  min-width: 300px;
  height: 80px;
  position: relative;
  padding: 20px;
  border: 3px solid #16a085;
}

.movie-list p {
  font-size: 1.5em;
  font-family: 'SFProDisplaySemiBold', Arial, Helvetica, sans-serif;
  color: #fff;
}

.btn-close {
  background: red;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: -25px;
  right: -25px;
  border: 1px solid #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
  font-size: 1em;
  color: #fff;
  cursor: pointer;
  z-index: 700;
}


/* Modal Dev Web */
.dev-container {
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 500;
}

.dev-container.active {
  display: flex;
}

.dev-list {
  min-width: 300px;
  position: relative;
  padding: 20px;
  border: 3px solid #16a085;
}

.dev-list p {
  font-size: 1.5em;
  font-family: 'SFProDisplaySemiBold', Arial, Helvetica, sans-serif;
  color: #fff;
}


/* Navigation Tab */
.tab-panel {
  display: none;
}

.tab-panel.active {
  display: flex;
  flex-wrap: wrap;
}

.tab-list a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 177px;
  height: 45px;
  border-radius: 75px;
  background: rgba(102,102,111,0.1);
  color: #fff;
  text-decoration: none;
}

.tab-list li {
  margin-left: 20px;
}

.tab-list li:first-child {
  margin: 0;
}

.active a {
  background: #db1623;
}

.tab-list a:hover {
  background: #db1623;
}

.tab-list li {
  display: inline;
}